In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(data = [['홍',100],['김',200]], columns=['name', 'age'])
df

  name  age
0    홍  100
1    김  200

In [7]:
mask = np.zeros(5)
mask

array([0., 0., 0., 0., 0.])

In [15]:
arr2 = np.array([[1,1,1],[1,1,1]], dtype=np.float64)
arr2

array([[1., 1., 1.],
       [1., 1., 1.]])

In [16]:
arr3 = np.array([[7,8,9],[10,11,12]], dtype=np.float64)
arr3

array([[ 7.,  8.,  9.],
       [10., 11., 12.]])

In [17]:
arr2 + arr3

array([[ 8.,  9., 10.],
       [11., 12., 13.]])

In [21]:
np.random.randn(5)

array([ 0.79423807,  0.25548524, -0.84228546, -2.99395948, -0.095475  ])